
$black:#000;
$ink:#222222;
$dark: #232930;

$body:#586074;
$bodyLighter:#898888;
$bodyDarken:#5b5b5b;
$muted:#989898;
$mutedLighter:#C5C5C5;
$form: #DBDBDB;
$formLight: #BEBEBE;

$border: #efefef;
$lighter: #f3f4f5;
$light:#FCFCFC;
$primary:#2962FF;

$brand-violet-main:#7900F2;
$brand-violet-hover:#9335f2;
$brand-violet-light:#9966FF;
$brand-dark:#36383b;

$brand-pink:#ed3b65;

$dark-ink:#202124;
$dark-dark:#35363A;


$color-primary:#2962FF;
$color-info:#4185F4;
$color-alert-primary:#E6F7FF;

$color-danger:#FF4D4F;
$color-alert-danger:#FFF1F0;

$bg-success:#33B679;
$color-alert-success:#F6FFED;

$bg-warning:#F49342;
$color-alert-warning:#FFF7E6;

$color-attention:#FAAD14;
$color-alert-attention:#FFFBE6;

$color-mark:#536DFE;
$color-change:#7B60FF;
$color-alert-change:#F9F0FF;


$color-helpful:#00ACC1;



$font-weight-light:100;
$font-weight-lighter:300;
$font-weight-normal:400;
$font-weight-med:500;
$font-weight-bolder:700;
$font-weight-bold:900;



$shadow-sm: 0 .1rem .2rem rgba(0,0,0,.15);
$shadow: 0 .5rem 1rem rgba(0,0,0,.15);
$shadow-lg: 0 1rem 2.5rem rgba(0,0,0,.15);
